.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bigText{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #84bcdc;
    margin-bottom: 500px;
}

.deck{
    margin: 20px;
}

.card{
    margin: 20px;
    border-color: black;
    border-width: 5px;
}